{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row align-items-center" style="margin-top: 100px;">
        <div class="col col-md-6 offset-md-3 col-sm-10 offset-sm-1 text-center">
            <h3>Main app</h3>
        </div>
    </div>
{% endblock %}