{% extends 'admin.html.twig' %}

{% block title %}Hoomie{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="row">
            {% if pagesCount is same as(0) %}
            <div class="col-md-6 col-sm-12">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>Create your first page?</h3>
                        <p>Looks like you don't have any page yet</p>
                    </div>
                    <a href="{{ url('app_page_create_main') }}" class="small-box-footer">
                        Create your first page <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- /.content -->
{% endblock %}