{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row align-items-center" style="margin-top: 100px;">
        <div class="col col-md-6 offset-md-3 col-sm-10 offset-sm-1 text-center">
            <h3>Connect Instagram Profile</h3>

            <p class="text-black-50">Sign in with Instagram to create your first shop</p><br>

            <a class="btn btn-lg btn-info" href="{{ loginUrl }}">Sign in with Instagram</a>
            <!--<div class="card">
                <article class="card-body">

                </article>
            </div>-->
        </div>
    </div>
{% endblock %}