{% extends 'admin.html.twig' %}

{% block title %}Hoomie | Themes{% endblock %}

{% block body %}
    <!-- Main content -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <br>
                <div class="card form-page-card">
                    <div class="card-header">
                        <h1>Themes</h1>
                    </div>
                    <div class="card-body">
                        <h3>Button style:</h3>
                        <div class="row">
                            <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="button_style_1" name="button_style" checked>
                                    <label for="button_style_1"></label>
                                </div>
                                <button class="btn btn-lg btn-dark">Default Button</button>
                            </div>
                            <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="button_style_2" name="button_style">
                                    <label for="button_style_2"></label>
                                </div>
                                <button class="btn btn-lg btn-outline-dark">Default Button</button>
                            </div>
                            <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="button_style_3" name="button_style">
                                    <label for="button_style_3"></label>
                                </div>
                                <button class="btn btn-lg btn-dark" style="border-radius: 0;">Square Button</button>
                            </div>
                            <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="button_style_4" name="button_style">
                                    <label for="button_style_4"></label>
                                </div>
                                <button class="btn btn-lg btn-outline-dark" style="border-radius: 0;">Square Button
                                </button>
                            </div>
                            <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="button_style_5" name="button_style">
                                    <label for="button_style_5"></label>
                                </div>
                                <button class="btn btn-lg btn-dark" style="border-radius: 100px;">Round Button</button>
                            </div>
                            <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                                <div class="icheck-primary d-inline">
                                    <input type="radio" id="button_style_6" name="button_style">
                                    <label for="button_style_6"></label>
                                </div>
                                <button class="btn btn-lg btn-outline-dark" style="border-radius: 100px;">Round Button
                                </button>
                            </div>
                        </div>
                        <hr>
                        <h3>Background style:</h3>
                        <div class="row">
                            <div class="col-6 col-lg-3" style="margin-bottom: 10px;">
                                <div class="icheck-primary">
                                    <input type="radio" id="background_style_1" name="background_style" checked>
                                    <label for="background_style_1">Default</label>
                                </div>
                                <div style="width: 100px; height: 100px; display: inline-block; border-radius: 20px; background-color: #f4f6f9"></div>
                            </div>
                            <div class="col-6 col-lg-3" style="margin-bottom: 10px;">
                                <div class="icheck-primary">
                                    <input type="radio" id="background_style_2" name="background_style">
                                    <label for="background_style_2">Light Grey</label>
                                </div>
                                <div style="width: 100px; height: 100px; display: inline-block; border-radius: 20px; background-color: #919191"></div>
                            </div>
                            <div class="col-6 col-lg-3" style="margin-bottom: 10px;">
                                <div class="icheck-primary">
                                    <input type="radio" id="background_style_3" name="background_style">
                                    <label for="background_style_3">Dark Grey</label>
                                </div>
                                <div style="width: 100px; height: 100px; display: inline-block; border-radius: 20px; background-color: #4a4a4a"></div>
                            </div>
                            <div class="col-6 col-lg-3" style="margin-bottom: 10px;">
                                <div class="icheck-primary">
                                    <input type="radio" id="background_style_4" name="background_style">
                                    <label for="background_style_4">Black</label>
                                </div>
                                <div style="width: 100px; height: 100px; display: inline-block; border-radius: 20px; background-color: #000"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
{% endblock %}