<div>
    <p>Это письмо отправлено, для регистрации на сайте <a href="{{ siteUrl }}">{{ siteUrl }}</a>. Если это не Вы, проигнорируйте данное письмо.</p>
    <h3>Please, confirm your e-mail</h3>
    <p><a href="{{ confirmEmail }}">Подтвердить регистрацию</a></p>
</div>